<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="treeview">
        <a href="#">
          <i class="fa fa-files-o"> Users</i>
          <span class="pull-right-container">
            <i class="label label-primary pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> List</a></li>
          <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> New User</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-files-o"> Ticket</i>
          <span class="pull-right-container">
            <i class="label label-primary pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> List</a></li>
          <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> New Ticket</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-files-o"> Summary</i>
          <span class="pull-right-container">
            <i class="label label-primary pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> To view</a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
